@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Inter", sans-serif;
}

.title,
.quote-title,
.nyt-title,
.sec-title {
  font-family: "Syne", sans-serif;
}

.quote-title,
.nyt-title,
.sec-title {
  margin-bottom: 1.5rem;
}

.nav-links a:hover {
  color: #74642f;
}

.hero-btn a {
  width: clamp(3.87rem, calc(1.43rem + 12.18vw), 11.18rem);
}

.hero-btn .box {
  width: clamp(1.08rem, calc(0.66rem + 2.11vw), 2.34rem);
}

.hero-btn .right-block {
  width: clamp(0.75rem, calc(0.5rem + 1.25vw), 1.5rem);
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide .box {
  background: #efeee8;
  border: 1px solid #eae8df;
}

.btn-wrapper {
  position: absolute;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-wrapper .swiper-button {
  z-index: 1;
}
