{% load static %} {% extends 'main.html' %} {% block content %}
<section class="bg-[#EDECE6]0 border-b">
  <div class="px-4 py-16 mx-auto max-w-6xl sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="nyt-title">The New York Times Best Sellers</h2>
    </div>
    {% for items in bestsellers %}
    <article class="mt-10">
      <div class="relative mx-auto text-center">
        <span
          class="absolute inset-x-0 h-px -translate-y-1/2 bg-black/10 top-1/2"
        ></span>
        <h3 class="relative inline-block px-4 text-center bg-[#F3F2EC]">
          {{items.list_name}}
        </h3>
      </div>

      <!--  Swipper -->
      <div class="mt-8 swiper">
        <ul class="swiper-wrapper">
          {% for book in items.books %}
          <li class="swiper-slide">
            <a href="#" class="block h-full box px-7 pt-4">
              <div class="">
                <img
                  loading="lazy"
                  alt="Smart Watch"
                  class="object-cover h-32 sm:h-48 w-full block rounded-md"
                  src="{{book.book_image}}"
                />
              </div>

              <div class="relative pt-1">
                <p
                  class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
                >
                  {{book.title|lower}}
                </p>
                <p class="mt-1 text-xs text-zinc-900">{{book.author}}</p>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>

        <!--  pagination -->

        <div class="btn-wrapper w-full">
          <div
            class="bg-gray-8000 swiper-button swiper-prev-button sm:w-6 sm:h-6 rounded-full border border-stone-800 flex justify-center"
          >
            <svg
              class="w-4 sm:w-5 -rotate-180"
              fill="none"
              stroke="black"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              ></path>
            </svg>
          </div>
          <div
            class="swiper-button swiper-next-button sm:w-6 sm:h-6 rounded-full border border-stone-800 flex justify-center"
          >
            <svg
              class="w-4 sm:w-5"
              fill="none"
              stroke="black"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              ></path>
            </svg>
          </div>
        </div>

        <div
          class="mt-6 swiper-pagination bg-stone-1000 text-sm font-medium"
        ></div>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
{% endblock content %}
