{% load static %}

<!-- Hero   -->
<div
  class="col-start-1 col-end-4 h-72 sm:h-screen sm:border-r border-black lg:mr-2"
>
  <div class="h-full flex flex-col justify-center text-left">
    <h2 class="text-stone-900 text-step_3 font-medium font-inkUB md:mr-2">
      What Book Are You Looking For?
    </h2>

    <p class="text-zinc-800 md:mt-4 md:block text-_step_1">
      Not Sure what to read next?<br />
      Explore our catalog
    </p>

    <div class="mb-1 mt-4 md:mt-8 hero-btn">
      <a
        class="relative inline-flex items-center justify-between px-2 py sm:py-1 overflow-hidden border border-black group focus:outline-none focus:ring w-auto"
        href="#"
      >
        <span
          class="absolute inset-y-0 left-0 w-[2px] transition-all bg-black group-hover:w-full group-active:bg-black"
        ></span>

        <span
          class="relative mr-1 text-zinc-800 transition-colors group-hover:text-zinc-300 text-_step_2 font-medium"
        >
          Explore
        </span>
        <span class="absolute inset-y-0 right-0 bg-black box"></span>

        <svg
          class="right-block relative text-zinc-200 transition-colors group-hover:text-zinc-300"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3"
          />
        </svg>
      </a>
    </div>
  </div>
</div>

<div class="hidden sm:block sm:col-start-4 col-end-12 sm:pl-2 sm:h-screen">
  <div class="flex-container bg-stone-9000 space-x-2 h-full flex w-full">
    <div
      class="bg-[url('/static/images/pwar.png')] bg-no-repeat bg-center bg-contain h-[8rem] sm:h-[10rem] w-full self-center"
    ></div>
    <div
      class="bg-[url('/static/images/addie.png')] bg-no-repeat bg-center bg-contain h-[8rem] sm:h-[10rem] w-full self-center"
    ></div>
    <div
      class="bg-[url('/static/images/flames.png')] bg-no-repeat bg-center bg-contain h-[8rem] sm:h-[10rem] w-full self-center"
    ></div>
  </div>
</div>
