{% extends 'base.html' %} {% load static %}
<!---->
{% block content %}

<!-- Hero   -->
{% include './hero.html' %}

<!--  Quote  -->

{% include './quotes.html' %}

<!--    New York Times Best Sellers   -->
<section id="best" class="bg-[#EDECE6]0 border-b">
  <div class="px-4 py-16 mx-auto max-w-6xl sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="nyt-title text-step_2">The New York Times Best Sellers</h2>
    </div>
    {% for items in bestsellers %}
    <article class="my-4 h-max">
      <div class="relative mx-auto text-center">
        <span
          class="absolute inset-x-0 h-px -translate-y-1/2 bg-black/10 top-1/2"
        ></span>
        <h3 class="relative inline-block px-4 text-center bg-[#F3F2EC]">
          {{items.list_name}}
        </h3>
      </div>

      <!--  Swipper -->
      <div class="swiper">
        <ul class="swiper-wrapper">
          {% for book in items.books %}
          <li class="swiper-slide py-6 sm:py-8">
            <a href="#" class="block flex flex-col items-center">
              <div class="bg-[#EFEEE8] border border-[#EAE8DF md:h-48">
                <img
                  loading="lazy"
                  alt="book cover"
                  class="object-cover object-center h-32 sm:min-h-full w-full"
                  src="{{book.book_image}}"
                />
              </div>

              <div class="relative pt-1 text-_step_3 text-center w-2/3">
                <p class="capitalize text-[#111]">{{book.title|lower}}</p>
                <p class="mt-1 text-[#888]">{{book.author}}</p>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>

        <!--  pagination -->
        <div class="btn-wrapper w-full">
          <div
            class="swiper-button swiper-prev-button sm:w-6 sm:h-6 rounded-full border border-stone-800 flex justify-center"
          >
            <svg
              class="w-4 sm:w-5 -rotate-180"
              fill="none"
              stroke="black"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              ></path>
            </svg>
          </div>
          <div
            class="swiper-button swiper-next-button sm:w-6 sm:h-6 rounded-full border border-stone-800 flex justify-center"
          >
            <svg
              class="w-4 sm:w-5"
              fill="none"
              stroke="black"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              ></path>
            </svg>
          </div>
        </div>

        <div class="swiper-pagination text-_step_3 font-medium"></div>
      </div>
    </article>
    {% endfor %}
  </div>
</section>

<section id="category" class="bg-[#EDECE6] border-b">
  <div class="px-4 py-16 mx-auto max-w-6xl sm:px-6 lg:px-8">
    <div class="text-center pb-12">
      <h2 class="text-step_2 relative inline-block px-4 text-center sec-title">
        Explore books by Catagories
        <svg
          class="mx-auto text-center h-2 bg-gray-4000"
          viewBox="0 0 48 7"
          width="100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1C1 1 4.36355 6 7.57143 6C10.7793 6 10.935 1 14.1429 1C17.3507 1 17.5064 6 20.7143 6C23.9222 6 24.0778 1 27.2857 1C30.4936 1 30.6493 6 33.8571 6C37.065 6 37.2207 1 40.4286 1C43.6365 1 47 6 47 6"
            stroke="#74642F"
            stroke-width="2"
          />
        </svg>
      </h2>
    </div>

    <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:items-start">
      <!-- filter -->
      <div class="lg:sticky lg:top-4">
        <details open class="overflow-hidden">
          <summary
            class="flex items-center justify-between bg-[#74642F] opacity-75 px-5 py-3 lg:hidden rounded-md"
          >
            <span class="text-_step_1 font-bold"> Genres </span>

            <svg
              class="h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </summary>
          <nav
            aria-label="Main Nav"
            class="px-5 flex flex-col space-y-1 text-zinc-700 font-medium text-_step_2"
          >
            <a href="" class="block hvr-underline-from-left py-2">
              Adventure
            </a>

            <a href="" class="hvr-underline-from-left py-2"> Fantasy </a>

            <a href="" class="hvr-underline-from-left py-2"> Fiction </a>

            <a href="" class="hvr-underline-from-left py-2"> Non-Fiction </a>

            <a href="" class="hvr-underline-from-left py-2"> History </a>
          </nav>
        </details>
      </div>
      <!-- books -->
      <div class="lg:col-span-3">
        <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
          <div class="col-start-1 col-end-7">
            <div class="flex justify-between flex-wrap ml-2">
              <a
                href="#"
                class="relative bg-[#F3F2EC] px-7 py-4 mb-2 rounded-sm"
              >
                <img
                  loading="lazy"
                  alt=""
                  class="object-cover h-32 sm:h-48 w-full"
                  src="https://books.google.com/books/publisher/content?id=wIhhDwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U3f-Kun1XN62J0v1Xp1ajpxkGTf3g&w=700"
                />

                <div class="relative pt-1">
                  <p
                    class="text-_step_2 text-zinc-900 group-hover:underline group-hover:underline-offset-4"
                  >
                    Beach Read
                  </p>
                  <p class="mt-1 text-_step_3 text-zinc-700">Emily Henry</p>
                </div>
              </a>

              <a
                href="#"
                class="relative bg-[#F3F2EC] px-7 py-4 mb-2 rounded-sm"
              >
                <img
                  loading="lazy"
                  alt=""
                  class="object-cover h-32 sm:h-48 w-full"
                  src="https://books.google.com/books/publisher/content?id=wIhhDwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U3f-Kun1XN62J0v1Xp1ajpxkGTf3g&w=700"
                />

                <div class="relative pt-1">
                  <p
                    class="text-_step_2 text-zinc-900 group-hover:underline group-hover:underline-offset-4"
                  >
                    Beach Read
                  </p>
                  <p class="mt-1 text-_step_3 text-zinc-700">Emily Henry</p>
                </div>
              </a>

              <a
                href="#"
                class="relative h-full bg-[#F3F2EC] px-7 py-4 mb-2 rounded-sm"
              >
                <img
                  loading="lazy"
                  alt=""
                  class="object-cover h-32 sm:h-48 w-full"
                  src="https://books.google.com/books/publisher/content?id=wIhhDwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U3f-Kun1XN62J0v1Xp1ajpxkGTf3g&w=700"
                />

                <div class="relative pt-1">
                  <p
                    class="text-_step_2 text-zinc-900 group-hover:underline group-hover:underline-offset-4"
                  >
                    Beach Read
                  </p>
                  <p class="mt-1 text-_step_3 text-zinc-700">Emily Henry</p>
                </div>
              </a>

              <a
                href="#"
                class="relative bg-[#F3F2EC] px-7 py-4 mb-2 rounded-sm"
              >
                <img
                  loading="lazy"
                  alt=""
                  class="object-cover h-32 sm:h-48 w-full"
                  src="https://books.google.com/books/publisher/content?id=wIhhDwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U3f-Kun1XN62J0v1Xp1ajpxkGTf3g&w=700"
                />

                <div class="relative pt-1">
                  <p
                    class="text-_step_2 text-zinc-900 group-hover:underline group-hover:underline-offset-4"
                  >
                    Beach Read
                  </p>
                  <p class="mt-1 text-_step_3 text-zinc-700">Emily Henry</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /End replace -->

{% endblock content %}
