{% extends 'base.html' %} {% load static %}
<!---->
{% block content %}

<!--   Main-Content   -->

<!-- Hero   -->
{% include './hero.html' %}

<!--  Quote  -->

{% include './quotes.html' %}

<!--    New York Times Best Sellers   -->
<section id="best" class="bg-[#EDECE6]0 border-b">
  <div class="px-4 py-16 mx-auto max-w-6xl sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="nyt-title text-step_2">The New York Times Best Sellers</h2>
    </div>
    {% for items in bestsellers %}
    <article class="h-72 sm:h-[30rem] bg-stone-3000 mb-12">
      <div class="relative mx-auto text-center">
        <span
          class="absolute inset-x-0 h-px -translate-y-1/2 bg-black/10 top-1/2"
        ></span>
        <h3 class="relative inline-block px-4 text-center bg-[#F3F2EC]">
          {{items.list_name}}
        </h3>
      </div>

      <!--  Swipper -->
      <div class="swiper mb-8">
        <ul class="swiper-wrapper">
          {% for book in items.books %}
          <li class="swiper-slide bg-stone-3000">
            <a href="#" class="block flex flex-col items-center">
              <div class="bg-[#EFEEE8] border border-[#EAE8DF md:h-48">
                <img
                  loading="lazy"
                  alt="book cover"
                  class="object-cover object-center h-32 sm:min-h-full w-full"
                  src="{{book.book_image}}"
                />
              </div>

              <div class="relative pt-1 text-_step_3 text-center w-2/3">
                <p
                  class="capitalize text-[#111] group-hover:underline group-hover:underline-offset-4"
                >
                  {{book.title|lower}}
                </p>
                <p class="mt-1 text-[#888]">{{book.author}}</p>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>

        <!--  pagination -->

        <div class="btn-wrapper w-full">
          <div
            class="bg-gray-8000 swiper-button swiper-prev-button sm:w-6 sm:h-6 rounded-full border border-stone-800 flex justify-center"
          >
            <svg
              class="w-4 sm:w-5 -rotate-180"
              fill="none"
              stroke="black"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              ></path>
            </svg>
          </div>
          <div
            class="swiper-button swiper-next-button sm:w-6 sm:h-6 rounded-full border border-stone-800 flex justify-center"
          >
            <svg
              class="w-4 sm:w-5"
              fill="none"
              stroke="black"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              ></path>
            </svg>
          </div>
        </div>

        <div
          class="swiper-pagination h-0 inline-flex items-end justify-center text-_step_3 font-medium"
        ></div>
      </div>
    </article>
    {% endfor %}
  </div>
</section>

<section id="category" class="bg-[#EDECE6] border-b">
  <div class="px-4 py-16 mx-auto max-w-6xl sm:px-6 lg:px-8">
    <div class="text-center">
      <h2
        class="text-step_2 relative inline-block px-4 text-center sec-title underline decoration-wavy decoration-[#74642F] underline-offset-[0.5rem] decoration-2"
      >
        Explore books by Catagories
      </h2>
    </div>
  </div>
</section>

<!-- /End replace -->

{% endblock content %}
