{% load static %}
<div class="col-span-12 sm:py-12 h-full">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:text-center mb-7">
      <h2 class="text-xl font-light">New Arrivals</h2>
    </div>
    <!--       swiper     -->
    <div class="swiper mySwiper h-full">
      <!--   swiper wrapper    -->
      <ul class="swiper-wrapper mb-12">
        <li class="swiper-slide">
          <a href="#" class="block h-full">
            <div class="">
              <img
                loading="lazy"
                alt="Smart Watch"
                class="object-cover h-32 sm:h-48 w-full block rounded-md"
                src="https://books.google.com/books/publisher/content?id=wIhhDwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U3f-Kun1XN62J0v1Xp1ajpxkGTf3g&w=700"
              />
            </div>

            <div class="relative">
              <p
                class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
              >
                Beach Read
              </p>

              <p class="pt-1 text-xs text-zinc-900">Emily Henry</p>
            </div>
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="block h-full">
            <div class="aspect-h-2">
              <img
                loading="lazy"
                alt="Smart Watch"
                class="object-cover h-40 sm:h-48 w-full block rounded-md"
                src="https://books.google.com/books/publisher/content?id=yhIRBwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U1UBl05osmdBHZtH4PylujGV0zAFw&w=700"
              />
            </div>

            <div class="relative">
              <p
                class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
              >
                Beach Read
              </p>

              <p class="pt-1 text-xs text-zinc-900">Emily Henry</p>
            </div>
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="block h-full">
            <div class="aspect-h-2">
              <img
                loading="lazy"
                alt="Smart Watch"
                class="object-cover h-40 sm:h-48 w-full rounded-md"
                src="https://books.google.com/books/publisher/content?id=VVAREAAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U1SRus4a2gW6ZgOjZK9m_yuWvTu3g&w=700"
              />
            </div>

            <div class="relative">
              <p
                class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
              >
                Beach Read
              </p>

              <p class="pt-1 text-xs text-zinc-900">Emily Henry</p>
            </div>
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="block h-full">
            <div class="aspect-h-2">
              <img
                loading="lazy"
                alt="Smart Watch"
                class="object-cover h-40 sm:h-48 w-full rounded-md"
                src="https://books.google.com/books/publisher/content?id=ncBODwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U2lk0dB8BQ5VbwdIyelDoKEg-cdxQ&w=700"
              />
            </div>

            <div class="relative">
              <p
                class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
              >
                Beach Read
              </p>

              <p class="pt-1 text-xs text-zinc-900">Emily Henry</p>
            </div>
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="block h-full">
            <div class="aspect-h-2">
              <img
                loading="lazy"
                alt="Smart Watch"
                class="object-cover h-40 sm:h-48 w-full rounded-md"
                src="https://books.google.com/books/publisher/content?id=vDTgDwAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U3lrmfz3iVaanj4fR2EGalLtpor3Q&w=700"
              />
            </div>

            <div class="relative">
              <p
                class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
              >
                Beach Read
              </p>

              <p class="pt-1 text-xs text-zinc-900">Emily Henry</p>
            </div>
          </a>
        </li>

        <li class="swiper-slide">
          <a href="#" class="block h-full">
            <div class="aspect-h-2">
              <img
                loading="lazy"
                alt="Smart Watch"
                class="object-cover h-40 sm:h-48 w-full rounded-md"
                src="https://books.google.com/books/publisher/content?id=4GkBDAAAQBAJ&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U0lAOOilBSXe0pVpbXYaRUs_-JgnA&w=700"
              />
            </div>

            <div class="relative">
              <p
                class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
              >
                Beach Read
              </p>

              <p class="pt-1 text-xs text-zinc-900">Emily Henry</p>
            </div>
          </a>
        </li>
      </ul>
      <!--  pagination -->
      <div class="btn-wrapper w-full">
        <div
          class="bg-gray-8000 swiper-button swiper-prev-button sm:w-8 sm:h-8 rounded-full border border-stone-800"
        >
          <svg
            class="w-5 sm:w-7 -rotate-180"
            fill="none"
            stroke="black"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            ></path>
          </svg>
        </div>
        <div
          class="swiper-button swiper-next-button sm:w-8 sm:h-8 rounded-full border border-stone-800"
        >
          <svg
            class="w-5 sm:w-7"
            fill="none"
            stroke="black"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            ></path>
          </svg>
        </div>
      </div>

      <div class="swiper-pagination absolute bg-orange-3000 bottom-0"></div>
    </div>
  </div>
</div>
