<!--  Quote of the day  -->
<section class="bg-[#EDECE6] border-b">
  <div class="py-16 mx-auto max-w-6xl sm:px-6 lg:px-8">
    <div class="grid col-span-12 text-center">
      <h2
        class="text-step_2 quote-title underline decoration-wavy decoration-[#74642F] underline-offset-[0.5rem] decoration-2"
      >
        Quote of the day
      </h2>
      <div class="flex justify-items-center mt-1">
        <figure>
          <blockquote class="book-quote text-zinc-700">
            <p class="max-w-prose font-extralight text-step_0">
              Reading is an act of civilization; it’s one of the greatest acts
              of civilization because it takes the free raw material of the mind
              and builds castles of possibilities.
            </p>
            <figcaption class="font-light pt-2 text-_step_3">
              —Ben Okri
            </figcaption>
          </blockquote>
        </figure>
      </div>
    </div>
  </div>
</section>
