<!--  Quote of the day  -->
<section class="bg-[#EDECE6] border-b">
  <div class="py-16 mx-auto max-w-6xl sm:px-6 lg:px-8">
    <div class="grid col-span-12 text-center">
      <h2 class="text-step_2 quote-title">
        Quote of the day

        <svg
          class="mx-auto text-center h-1 bg-stone-4000"
          viewBox="0 0 48 7"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1C1 1 4.36355 6 7.57143 6C10.7793 6 10.935 1 14.1429 1C17.3507 1 17.5064 6 20.7143 6C23.9222 6 24.0778 1 27.2857 1C30.4936 1 30.6493 6 33.8571 6C37.065 6 37.2207 1 40.4286 1C43.6365 1 47 6 47 6"
            stroke="#74642F"
            stroke-width="2"
          />
        </svg>
      </h2>

      <div class="flex justify-items-center mt-1">
        <figure>
          <blockquote class="book-quote text-zinc-700">
            <p class="max-w-prose font-extralight text-step_0">
              Reading is an act of civilization; it’s one of the greatest acts
              of civilization because it takes the free raw material of the mind
              and builds castles of possibilities.
            </p>
            <figcaption class="font-light pt-2 text-_step_3">
              —Ben Okri
            </figcaption>
          </blockquote>
        </figure>
      </div>
    </div>
  </div>
</section>
