{% comment %}
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
{% endcomment %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  new Swiper(".swiper", {
    loop: true,
    spaceBetween: 2,
    pagination: {
      el: ".swiper-pagination",
      type: "fraction",
    },
    navigation: {
      nextEl: ".swiper-next-button",
      prevEl: ".swiper-prev-button",
    },
    breakpoints: {
      768: {
        slidesPerView: 3,
      },
      1024: {
        slidesPerView: 4,
      },
    },
  });

  window.addEventListener("resize", () => {
    const desktopScreen = window.innerWidth < 768;
    document.querySelector("details").open = !desktopScreen;
  });
</script>
